nohup.out
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
out.*
node_modules
nohup.out
public/uploads/*
.env
.env.*
/bot/node_modules/
/bot/public/uploads/
/bot/.env
/bot/.env.*
/bot/nohup.out
/bot/logs/*
